.main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.body{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
